{% extends "home-office-kit-layout-design-system" %}

{% block homeOfficeKit_style %}

.not-govuk-navigation-menu__list__item{
  list-style: none;
  margin-bottom: 16px;
}


{% endblock %}

{% block content %}
<!-- Add your page content here -->    

 <h1 class="govuk-heading-xl">Design system</h1>

 <p class="govuk-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean turpis ex, vehicula<br> 
 sed luctus quis, posuere ac libero. Fusce laoreet dolor ac est porta viverra. Class<br>
  aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</p>

   <p class="govuk-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean turpis ex, vehicula<br> 
 sed luctus quis, posuere ac libero. Fusce laoreet dolor ac est porta viverra. Class<br>
  aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</p>

<br>
<br>
<br>






{% endblock %}