{% extends "home-office-kit-layout-design-system-components" %}

{% block homeOfficeKit_style %}

.not-govuk-navigation-menu__list__item{
  list-style: none;
  margin-bottom: 16px;
}

{% endblock %}

{% block content %}
<!-- Add your page content here -->    

<div class="govuk-grid-column-one-quarter">
								<nav class="not-govuk-navigation-menu">
									<ul class="not-govuk-navigation-menu__list">
										<li class="not-govuk-navigation-menu__list__item"><a class="not-govuk-navigation-menu__list__link" href="/components?name=Alert">Alert</a></li>
										<li class="not-govuk-navigation-menu__list__item"><a class="not-govuk-navigation-menu__list__link" href="/components?name=Date%20display">Date display</a></li>
										<li class="not-govuk-navigation-menu__list__item"><a class="not-govuk-navigation-menu__list__link" href="/components?name=Date-time">Date-time</a></li>
										<li class="not-govuk-navigation-menu__list__item"><a class="not-govuk-navigation-menu__list__link" href="/components?name=Expandable%20banner">Expandable banner</a></li>
										<li class="not-govuk-navigation-menu__list__item"><a class="not-govuk-navigation-menu__list__link" href="/components?name=Footer">Footer</a></li>
										<li class="not-govuk-navigation-menu__list__item"><a class="not-govuk-navigation-menu__list__link" href="/components?name=Header">Header</a></li>
										<li class="not-govuk-navigation-menu__list__item"><a class="not-govuk-navigation-menu__list__link" href="/components?name=Highlight">Highlight</a></li>
										<li class="not-govuk-navigation-menu__list__item"><a class="not-govuk-navigation-menu__list__link" href="/components?name=Loading%20spinner">Loading spinner</a></li>
										<li class="not-govuk-navigation-menu__list__item"><a class="not-govuk-navigation-menu__list__link" href="/components?name=Page">Page</a></li>
										<li class="not-govuk-navigation-menu__list__item"><a class="not-govuk-navigation-menu__list__link" href="/components?name=Pagination">Pagination</a></li>
										<li class="not-govuk-navigation-menu__list__item"><a class="not-govuk-navigation-menu__list__link" href="/components?name=Status%20message">Status message</a></li>
										<li class="not-govuk-navigation-menu__list__item"><a class="not-govuk-navigation-menu__list__link" href="/components?name=Time">Time</a></li>
										<li class="not-govuk-navigation-menu__list__item"><a class="not-govuk-navigation-menu__list__link" href="/components?name=Timeline">Timeline</a></li>
									</ul>
								</nav>
							</div>

              
 
<br>
<br>
<p>TEST</p>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>






{% endblock %}